.containerWindow2{
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.w2container{
    
    padding-left: 5%;
    padding-top: 5%;
    width: 100%; height: 400%;
    background-color: rgb(225, 225, 225);;
}

#cw2header1{

    padding-left: 3%;
    font-size: 2em;

}

.illustrations{

    columns: 255px;

}

.image1{

    height: auto;
    width: 100%;

}
