.w1scrollbar{height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;

}
.containerWindow1{
    margin-left: 7%;
    margin-top: 6%;
    width: 85%; height: 270%;
}

.text{
    opacity: 85%;
    font: 1.14em Consolas, monospace;
    
}


#cw1header1 { height: 8%; width: 48%;
    
    margin-left: 5%; margin-right: 3%;
    font: 2.5em Consolas, monospace;


}
#cw1header2 { height: 4%; width: 20%;
    
    font: 1.06em Consolas, monospace;
    line-height: 245%;

}
#cw1text2 { height: 3%;
    
}
#cw1text3 { height: 5%;
    margin-left: 12%;
    border-left: 5px solid rgba(89, 89, 89, 0.5);
    padding-left: 2.5% ;
}

.headcont{
    display: flex;
    height: 17%;
    
}
.headcontchild{
    margin-left: 3%;
    height: 30%;
    
}