.Bodey{
    width: 60% ;
    padding: 3%;
    margin-left: 2vw;
}

.box{
    border:1px solid rgb(212, 212, 212) ;
    background-color: rgb(35, 34, 34);
    border-radius: 1.5%;
    margin: 1%;
    margin-top: 7%;
    font: 1em ;
    display: inline-block;

    box-shadow: -6px 6px 0 0 rgb(212, 212, 212);
    background: none;
}

#hidden{ height: 76%; width: 87%; 
    
    padding-top: 2%;
    font: 1em Tahoma, Verdana, sans-serif;
    line-height: 190%;
    color: rgb(212, 212, 212);
}




.loc{background-color: rgb(35, 34, 34); font: .94em Tahoma, Verdana, sans-serif ; 
    font-weight: 100;    
    padding-left:1%;
    opacity: 69%;
    color: rgb(212, 212, 212);
    margin-left: 15vw;
}
.name{
    background-color: rgb(35, 34, 34); font: 2.0em Tahoma, Verdana, sans-serif; 
    font-weight:590;
    color: rgb(212, 212, 212);
    margin-left: 15vw;
    
}
.details{
    opacity: 85%;
    margin-left: 14vw;
    margin-top: 3.1vh;
    font: 1.03em Tahoma, Verdana, sans-serif;
    height: 10%;
    width: 70%;
}

.progtitle{
    height: 10%;
    width: 90%;

    
    background-color: rgb(35, 34, 34); font: 1.5em Tahoma, Verdana, sans-serif; 
    font-weight:600;
    color: rgb(212, 212, 212);
    margin-left: 3vw;
    margin-top: 3.6vh;

    font: 1.2em Tahoma, Verdana, sans-serif;
}

hr {
    width: 100% ;
    border-top: 100% rgb(212, 212, 212);
    height: 1px;
}





@keyframes animation {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

