.Bodey{
    width: 60% ;
    padding: 3%;
}

.box{
    background-color: rgb(131, 130, 130);
    border-radius: 4%;
    margin: 1%;
    font: 1em ;
    display: inline-block;
}

#b1{
    height: 30%; width: 38%;
}
#b2{
    height: 20%; width: 30%;
}
#b3{
    height: 30%; width: 15%;
}
#b4{
    height: 30%; width: 32%;
}
#b5{
     height: 30%; width: 87%;
}

#hidden{ height: 30%; width: 53%; }

