.Bodey{
    width: 60% ;
    padding: 3%;
    margin-left: 2vw;
}

.box{
    border:1px solid rgb(212, 212, 212) ;
    border-radius: 1.5%;
    margin: 1%;
    margin-top: 7%;
    font: 1em ;
    display: inline-block;

    box-shadow: -6px 6px 0 0 rgb(212, 212, 212);
    background: none;
}

#hidden{ height: 76%; width: 87%; 
    
    padding-top: 3%;
    font: 1em Consolas, monospace;
    font-family: Consolas, monospace;
    line-height: 170%;
    color: rgb(212, 212, 212);
    background-color: rgb(35, 34, 34);
}




.loc{background-color: rgb(35, 34, 34); font: .94em Consolas, monospace ; 
    font-weight: 100;    
    padding-left:1%;
    opacity: 69%;
    color: rgb(212, 212, 212);
    margin-left: 15vw;
}
.name{
    background-color: rgb(35, 34, 34); font: 1.9em Consolas, monospace; 
    font-weight:590;
    color: rgb(212, 212, 212);
    margin-left: 15vw;
    
}
.details{
    opacity: 85%;
    margin-left: 14vw;
    margin-top: 3.1vh;
    font: 1.03em Consolas, monospace;
    height: 10%;
    width: 70%;
}


hr {
    width: 100% ;
    border-top: 100% rgb(212, 212, 212);
    height: 1px;
}

.xbutton{
    margin-left: 15%;
    font-size: 1.5em;

}



@keyframes animation {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

