.image2{
    object-fit: contain;
    height: 8vh; width: 4vw;
    border-radius: 10%;
    background-color: rgb(35, 34, 34);
    justify-content: center;
}

.iconContainer{
    width: 95%;
    height: 47.5%;

    display: flex;
    align-items:center;
    justify-content: space-evenly;
    
}

.container2{
    width: 95%;
    height: 60%;

    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
}

.desc{
    width: 15%;
    height: 70%;
    text-align: center;
    cursor: pointer;

    transition: all 0.3s ease; 
}

#resume1{
    height: 8.5vh; width: 4.5vw;
    object-fit: fill;
}

.desc:hover{
    transform: scale(1.1);
    
}