
.pfp{

    margin-top: 5.5%;
    left: 26.5%;

    height: 20vh;
    width: 10vw;

    border: 1px solid black;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
    position: absolute;

    animation-name: animation;
    animation-duration: 0.3s;
}