.windowCont{
    

    height: 20%;
    width: 20%;
    background-color: grey;

    position: absolute;
    display: none;

    left: 0px;
    top: 0px;
}

.header{
    position: inherit;
    height: 15%;
    width: 100%;

    background-color: rgb(83, 83, 83);

}
