*{height: 100vh; width: 100%; margin: 0; box-sizing: border-box;
    user-select: none;
    

}

.main{
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-image: url("/wallpaper2.jpg");
   
    background-size: cover;         
    background-repeat: no-repeat;  
    background-position: top;    
}

#sound{

    position: absolute;
    left: 30px;
    top: 10px;

}

